<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServerService" />
                <binding name="BasicHttpBinding_IServerServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/BackendService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServerService" contract="ServiceReference1.IServerService"
                name="BasicHttpBinding_IServerService" />
            <endpoint address="http://tfs-21786/service/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServerServices" contract="ClientApp.IServerServices"
                name="BasicHttpBinding_IServerServices" />
        </client>
    </system.serviceModel>
</configuration>
