<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="StarterSite" connectionString="Data Source=|DataDirectory|\StarterSite.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServerServices"/>
        <binding name="BasicHttpBinding_IServerServices1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tfs-21786/service/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServerServices" contract="Client.IServerServices" name="BasicHttpBinding_IServerServices"/>
      <endpoint address="http://localhost:18787/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServerServices1" contract="NewClient.IServerServices" name="BasicHttpBinding_IServerServices1"/>
    </client>
  </system.serviceModel>
</configuration>